.container{
	text-align: center;
	font-family: Lucida, sans-serif;
}

 h1, h2, h4,h5{
 	text-align: center;
 }

body{
	font-family: Lucida, sans-serif;
	background-color: white;
}

.btn{
	padding-top: 2px;
	background-color: black;
    font-size: 20px;
    border-radius: 8px;
    height: 45px;
    width: 100px;
    text-align: center;
}

.btn:hover{
	padding-top: 2px;
	background-color: white;
	border: 5px solid black;
	font-weight: bold;
	text-align: center;
}

#id1{
	width: 100%;
	margin-left:10px;
	text-align:left;
	font-weight: bold;
	font-size:20px;	
}

#id2{
	float:left;
	margin-right:20px;
}

#totalres{
	width: 50px;
	float:left;
	margin-right:30px;
    border: 2px solid black;
    padding:10px;
    width: 40px;
    height: 20px;
}

#resources{
	margin-left:10px;
}

#table{
	margin-left:0px;
}

.table_div{
	width:50%;
	float:left;
}

#tab{
	border-color: black;
	border-width: 1px;
	background-color: white;	
}

#tab_alloc{
	border-color: black;
	border-width: 1px;
	background-color: white; 
}

#firs_alloc{
	margin-left: 10px;
}

.run{
	text-align:center;
}

.navbar .navbar-brand {
    padding-top: 0px;
}

.navbar .navbar-brand img {
    height: 50px;
}
