.jumbotron {
    text-align: center;
}

.intro {
    text-align: left;
}

.container {
    text-align: center;
}

.btn-lg {
    height: 400px;
    width: 100%;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxPplU1F0LUL4qaG9EAWmcEvRvUVx6oQpucfBpDJau4om-WEDX&usqp=CAU"); */
}

.navbar .navbar-brand {
    padding-top: 0px;
}

.navbar .navbar-brand img {
    height: 50px;
}

body {
    font-size: 20px;
}

.compute_button
{
    margin-left:40px; 
    margin-bottom:20px;
    width: 120px;
    height: 50px;
    background-color: greenyellow;
    color: black;
}

.button {
    font-weight: bold;
    margin-left: 400px;
    margin-top: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: blue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 700px;
    transition: all 0.5s;
    cursor: pointer;
}

.page-header
 {
     background-color: yellowgreen;
    text-align: center;
    color:black;
    padding-top: 30px;
    padding-bottom: 30px;
 }