#input-hide{
    display:none;
}

#new-request{
	width:120px;
	height: 35px;
	border:solid 2px #65ccb8;
	border-radius: 5px;
}


#graph_section{
	display:none;
	text-align: left;
}

#show-button-show{
    display:none;
}